<h1>Crosswords are fun and good</h1>
<app-puzzle></app-puzzle>
<p><br><br>Pick a crossword to play</p>
<div class="p-grid">
    <div class="p-col-6">
        <div style="margin-left: 2%;">
            <p-calendar [(ngModel)]="value" [inline]="true"></p-calendar>
        </div>
    </div>
    <div *ngIf="value" class="p-col-6">
        NYT Crossword: {{ value | date }}  
        <p-button label="Play!" (onClick)="handleClick($event)"></p-button>
    </div>

</div>
<div *ngIf="result" style="text-align: center">
    <ng-container *ngFor='let letter of result["grid"]; index as i'>
        <ng-container *ngIf="(i+1)%result['size']['cols'] != 0; else elseTemplate">
            <ng-container *ngIf="letter != '.'; else black">
                <input type="text" minlength="1" maxlength="1" pInputText placeholder={{letter}} size="1">
            </ng-container>
            <ng-template #black>
                    <input class="black" type="text" disabled="true" pInputText size="1">
            </ng-template>
            
                
        </ng-container>
        <ng-template #elseTemplate>
                <ng-container *ngIf="letter != '.'; else black">
                        <input type="text" minlength="1" maxlength="1" pInputText placeholder={{letter}} size="1"><br>
                    </ng-container>
                    <ng-template #black>
                            <input class="black" type="text" disabled="true" pInputText size="1"><br>
                    </ng-template>
        </ng-template>
    </ng-container>
</div>
